* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}

.sobre-nosotros {
  background-color: #000000;
  color: #fff;
  padding: 70px;
  display: flex;
  flex-direction: column;
}
.sobre-nosotros h1 {
  font-size: 70px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.sobre-nosotros p {
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contacto {
  background-color: #000000;
  color: #fff;
  padding: 60px;
}
.contacto h1 {
  font-size: 50px;
}

form {
  display: block;
  background-color: #068fff;
  box-shadow: 1px 1px 3px 2px #a02ebd83;
  margin: 40px auto;
  max-width: 400px;
  max-height: 700px;
  padding: 25px 40px;
}
form h2 {
  color: #eeeeee;
}
form input,
textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 15px auto;
  padding: 8px;
  background-color: #eeeeee;
  border: 1px solid #ddd;
}
form button {
  height: 30px;
  width: 80px;
  align-items: center;
  border: none;
  background-color: #4e4feb;
  color: #eeeeee;
  cursor: pointer;
}

.venta {
  background-color: #03001c;
  color: #fff;
  font-size: 100px;
}

.error {
  background-image: url(../public/images/error2.jpeg);
  background-position: left;
  background-size: cover 5%;
  background-repeat: no-repeat;
  color: black;
}

.error h1 {
  color: black;
  font-size: 5rem;
  text-align: center;
  margin: 5rem;
}

.error p {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin: 5rem;
}

.error-links {
  font-size: 3.5rem;
  text-decoration: none;
  color: rgb(226, 43, 43);
  display: flex;
  justify-content: center;
  margin: 5rem;
}

@media screen and (max-width: 960px) {
  .sobre-nosotros > h1 {
    font-size: 40px;
    margin-top: -20px;
  }
}

@media screen and (max-width: 768px) {
  .sobre-nosotros > h1 {
    text-align: center;
    font-size: 30px;
    margin-top: -20px;
  }

  .sobre-nosotros p {
    font-size: 18px;
    text-align: justify;
  }
}